
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 80%;
    margin: auto;
}
h1 {
    text-align: center;
}

.filter-sort-container p{ 
    font-size: 20px;
}

.filter-sort-container  {
  display: flex;
  align-items: center;
}

select {
    font-size: 15px;
    height: 40px;
}

#EmpTable {
    width: 90%;
    margin: auto;
    text-align: left;
    font-size: 20px;
}

#pagination {
    margin-top: 50px;
    text-align: center;
}

#pagination button {
    padding: 10px 40px;
    font-size: 15px;
}
